﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N &amp; J</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <img style="padding-left:0; position:fixed; width: 40px;" src="~/images/Denim Border One Side.png" />
    <div style="margin-left:40px;">
        <nav class="navbar navbar-fixed-top" style="height:80px; margin-bottom:10px">
            <div class="col-lg-12">
                <div class="row">
                    <h1 style="padding:0;margin:0">
                        <img style="height:70px;" src="~/images/Strawberries.png" />Nillette &amp; Jacques
                    </h1>
                </div>
            </div>
        </nav>
        <div class="container body-content" style="margin-top:80px">
            @RenderBody()
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Nillette &amp; Jacques</p>
        </footer>
    </div>
</body>
</html>
