﻿
@{
    Layout = "~/Areas/Invitations/Views/Shared/_InviteLayout.cshtml";
}

<div class="row">
    <div class="backimg">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <img class="coupleImg" src="~/images/Vrou1.jfif" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <img class="coupleImg" src="~/images/Vrou2.jfif" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <img class="coupleImg" src="~/images/Vrou3.jfif" />
        </div>
    </div>
</div>

<div class="row">
    <div class="backimg">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <img class="coupleImg" src="~/images/Mans1.jfif" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <img class="coupleImg" src="~/images/Mans2.jfif" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <img class="coupleImg" src="~/images/Mans3.jfif" />
        </div>
    </div>
</div>
