﻿@using InvitationSend.Models.Entity;
@model guest


@{
    Layout = "~/Areas/Invitations/Views/Shared/_InviteLayout.cshtml";
}

<div class="row" style="margin-left:1em; margin-right:1em; margin-bottom:10px">
    <div class="hessian-back" style="text-align:center;padding-top:30px; padding-bottom:30px">
        <div style="">
            <div class="row hessianblock">
                <div style="padding:5px">
                    <h1>Uitnodiging</h1>
                </div>
            </div>
            <div style="margin-top:-20px; height:80px; background-image:url(/images/lace-border.png)"><img class="pull-left" style="margin-top:-20px; height:100px" src="~/images/Strawberries.png" /></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="backimg">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <img class="coupleImg" src="~/images/J&L1.jfif" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <img class="coupleImg" src="~/images/J&L2.jfif" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <img class="coupleImg" src="~/images/J&L3.jfif" />
        </div>
    </div>
</div>
<div class="row" style="margin-left:1em; margin-right:1em; margin-bottom:10px">
    <div class="denim-back">
        <div>
            <div class="row denimblock">
                <div style="padding:5px">
                    <h2>Deur twee dinge is my lewe vir my leefbaar gemaak:</h2>
                    <h2>die liefde wat ek gegee het,</h2>
                    <h2>en die liefde wat ek gekry het.</h2>
                    <p class="pull-right" style="padding-right:1em">- CJ Langenhoven</p>
                </div>
            </div>
            <div style="margin-top:-20px; height:80px; background-image:url(/images/lace-border.png)"><img class="pull-left" style="margin-top:-20px; height:100px" src="~/images/Strawberries.png" /></div>
        </div>
    </div>
</div>

<div class="row" style="margin-left:1em; margin-right:1em; margin-bottom:10px">
    <div class="hessian-back">
        <div>
            <div class="row hessianblock">
                <div style="padding:5px">
                    <h2>Twee lewens,</h2>
                    <h2>twee harte,</h2>
                    <h2>twee siele word een</h2>
                </div>
            </div>
            <div style="margin-top:-20px; height:80px; background-image:url(/images/lace-border.png)"><img class="pull-left" style="margin-top:-20px; height:100px" src="~/images/Strawberries.png" /></div>
        </div>
    </div>
</div>

<div class="row" style="margin-left:1em; margin-right:1em; margin-bottom:10px">
    <div class="hessian-back" style="text-align:center;padding-top:30px; padding-bottom:30px">
        <div>
            <div class="row hessianblock">
                <div style="padding:5px">
                    <h4>Kom deel in die begin van 'n nuwe hoofsuk wanneer</h4>
                    <h1>Nillette</h1>
                    <h4>dogter van</h4>
                    <h4>Jan en Anja van Rooyen</h4>
                    <h4>en</h4>
                    <h1>Jacques</h1>
                    <h4>seun van</h4>
                    <h4>Jaco en Ilsa Erasmus</h4>
                    <br />
                    <h4>hulle liefde en drome saamvoeg om een toekoms te skep</h4>
                </div>
            </div>
            <div style="margin-top:-20px; height:80px; background-image:url(/images/lace-border.png)"><img class="pull-left" style="margin-top:-20px; height:100px" src="~/images/Strawberries.png" /></div>
        </div>
    </div>
</div>

<div class="row" style="margin-left:1em; margin-right:1em; margin-bottom:10px">
    <div class="denim-back" style="text-align:center;padding-top:30px; padding-bottom:30px">
        <div style="">
            <div class="row denimblock">
                <div style="padding:5px">
                    <h4>Datum: 20 April 2019</h4>
                    <h4>Tyd: 15:00</h4>
                    <h4>Plek: Berlouri, R560, Hekpoort</h4>
                    <h4>RSPV: 27 Maart 2019</h4>
                </div>
            </div>
            <div style="margin-top:-20px; height:80px; background-image:url(/images/lace-border.png)"><img class="pull-left" style="margin-top:-20px; height:100px" src="~/images/Strawberries.png" /></div>
        </div>
    </div>
</div>

<div class="row" style="margin-left:1em; margin-right:1em; margin-bottom:10px">
    <div class="denim-back" style="text-align:center;padding-top:30px; padding-bottom:30px">
        <div style="">
            <div class="row denimblock">
                <div style="padding:5px">
                    <h2>Kleredrag Tema</h2>
                    <h1>"Rustic Denim &amp; Lace"</h1>
                    <a href="~/Invitations/Invitations/Ideas"><h4>Klik hier vir idees.</h4></a>
                    <h2>Kroeg:</h2>
                    <h4>Geen kroeg fasiliteite is beskikbaar nie. Elkeen kan hul eie koelhouer met drankies en glase saambring.</h4>
                </div>
            </div>
            <div style="margin-top:-20px; height:80px; background-image:url(/images/lace-border.png)"><img class="pull-left" style="margin-top:-20px; height:100px" src="~/images/Strawberries.png" /></div>
        </div>
    </div>
</div>
@if (Model != null)
{
    <div class="row" style="margin-left:1em; margin-right:1em; margin-bottom:10px">
        <div class="hessian-back" style="text-align:center;padding-top:30px; padding-bottom:30px">
            <div style="">
                <div class="row hessianblock">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="guests.pklid" />
                        <input type="hidden" asp-for="guests.sGuid" class="form-control" />

                        <div class="form-group" style="margin-bottom:30px;">
                            <h1>@Model.sName</h1>
                        </div>
                        <div class="form-group">
                            <div>
                                <h4>Gaan u die troue bywoon? </h4>
                                @Html.CheckBoxFor(m => m.bComming)
                            </div>
                        </div>
                        @if (Model.bPartner)
                        {
                            <div class="form-group" style="margin-top:10px;margin-bottom:30px; height:40px">
                                <div>
                                    <h4>Bring u 'n metgesel saam? </h4>
                                    @Html.CheckBoxFor(m => m.bPartner)
                                </div>
                            </div>
                        }
                        <div class="form-group" style="margin-top:15px; height:40px">
                            <input type="submit" value="Stuur" class="btn btn-default" style="margin-top:15px;" />
                        </div>
                    </form>
                </div>
                <div style="margin-top:-20px; height:80px; background-image:url(/images/lace-border.png)"><img class="pull-left" style="margin-top:-20px; height:100px" src="~/images/Strawberries.png" /></div>
            </div>
        </div>
    </div>
}

<div class="row" style="margin-left:1em; margin-right:1em; margin-bottom:10px">
    <div class="denim-back" style="text-align:center;padding-top:30px; padding-bottom:30px">
        <div style="">
            <div class="row denimblock">
                <div style="padding:5px">
                    <h2>Akkommodasie:</h2>
                    <h4>Berlouri Guest House 082 924 0757</h4>
                    <h4>Ntidi Resort 082 374 1234</h4>
                    <h4>Esther's 061 582 5399</h4>
                    <h4>Askari Lodge http://askarilodge.co.za</h4>
                    <h4>Ekhuleni Game Farm http://www.ekukhulenifarm.co.za</h4>
                </div>
            </div>
            <div style="margin-top:-20px; height:80px; background-image:url(/images/lace-border.png)"><img class="pull-left" style="margin-top:-20px; height:100px" src="~/images/Strawberries.png" /></div>
        </div>
    </div>
</div>