﻿@using InvitationSend.Models.Logic
@using InvitationSend.Models.Entity

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<guest> GuestList = Guest.Read();
}

<h2>Guest List</h2>

<p>
    <a href="~/Housekeeping/Housekeeping/Single">Create New Guest</a>
    <a class="pull-right" href="~/Housekeeping/Housekeeping/SendInvite">Send Invitations</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Email
            </th>
            <th>
                Cell Number
            </th>
            <th>
                Partner
            </th>
            <th>
                Comming
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Guest in GuestList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Guest.sName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Guest.sSurname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Guest.sEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Guest.sCellNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Guest.bPartner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Guest.bComming)
                </td>
            </tr>
        }
    </tbody>
</table>


