﻿@using InvitationSend.Models.Entity;
@model guest

@{
    ViewBag.Title = "Single";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Guest</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <p>
                @Html.ValidationSummary()
            </p>
            
            <input id="sGuid" class="hidden" />
            <div class="form-group">
                <label>Name:</label>
                @Html.TextBoxFor(m => m.sName)
            </div>
            <div class="form-group">
                <label>Surname:</label>
                @Html.TextBoxFor(m => m.sSurname)
            </div>
            <div class="form-group">
                <label>Email:</label>
                @Html.TextBoxFor(m => m.sEmail)
            </div>
            <div class="form-group">
                <label>Cell Number (0825551234):</label>
                @Html.TextBoxFor(m => m.sCellNumber)
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.bPartner) "Add Partner"
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="~/Housekeeping/Housekeeping/List">Back to List</a>
</div>